* {
  margin: 0px;
  padding: 0px;
}
body {
  font-size: 120%;
  background: #F8F8FF;
}


form{
  width: 30%;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #B0C4DE;
  background: white;
  
}
.content {
  width: 30%;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #B0C4DE;
  background: white;
  border-radius: 0px 0px 10px 10px;
}
.input-group {
  margin: 10px 0px 10px 0px;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}
.input-group input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}
header{
  margin: 50px,auto 0px;
  text-align: center;
  border: 1px,solid #11C89B;
  border-bottom: none;
  border-radius: 10px,10px,0px,0px;
  padding: 20px;
}
footer {
  position: relative;
  bottom: 0;
  width: 100vw;
}

footer h4 {
  font-size: .8em;
  padding-top: 25px;
}
  #footer_content {
  background-color: green;
  height: 60px;
  text-align: center;
}
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
ul li {
  float: left;
  width: 100px;
  height: 40px;
  background-color: black;
  opacity: .8;
  line-height: 40px;
  text-align: center;
  font-size: 15px;
}
ul li a {
  text-decoration: none;
  color: white;
  display: block;
}
ul li a:hover {
  background-color: green;
}
ul li ul li {
  display: none;
}
ul li:hover ul li{
  display: block;
}
.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #32CD32;
  border: none;
  border-radius: 5px;
}
.error {
  width: 92%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}
.success {
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}